.seemore-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.seemore-content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 50%;
}

.seemore-content-text-header {
    width: 100%;
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
}

.seemore-content-text-header>p {
    font-weight: 300;
    font-size: 14px;
}

.seemore-content-text-body {
    width: 100%;
    max-width: 900px;
    font-family: 'Poppins', sans-serif;
}

.seemore-content-text-action {
    width: 100%;
    max-width: 900px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.seemore-content-image {
    width: 500px;
    height: auto;
    border-radius: 7px;
    box-shadow: 4px 2px 16px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 2px 16px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 2px 16px -11px rgba(0, 0, 0, 0.75);
}